<div class="log-container">
  <h1>Device {{deviceId}}</h1>
  <h2>Log</h2>
  <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
    <li class="mdc-list-item log-level-{{entry.code}}-color" *ngFor="let entry of log; let i = index">
      <span class="mdc-list-item__graphic" role="presentation">
        <i class="material-icons" aria-hidden="true">{{getIcon(entry.code)}}</i>
      </span>
      <span class="mdc-list-item__text">
        {{entry.message}}
        <span class="mdc-list-item__secondary-text">Code {{entry.code}}</span>
      </span>
      <span title="More info" class="mdc-list-item__meta " aria-label="View more information">
        {{entry.occurenceTime | date:'mediumTime'}}
      </span>
    </li>
  </ul>
  <button (click)="testLogEntry()">Testeintrag erstellen</button>
</div>
