.log-level-0-color {
  background-color: #cce5ff;
}

.log-level-1-color {
  background-color: #d4edda;
}

.log-level-3-color,
.log-level-4-color {
  background-color: #f8d7da;
}

.log-container {
  margin: auto;
  max-width: 60em;
}

.mdc-list-item__text {
  overflow: visible;
  white-space: normal;
}

.mdc-list-item {
  height: auto;
}
