@import "container/container-mixins.scss";
@import "theme.scss";

.overview-container {
  @include container-width();
  margin:auto;
  padding:16px;
}
.overview-table {
  td:first-of-type{
    font-weight:500;
  }
}
.overview-table__token-cell {
  word-wrap: break-word;
  max-width: 20em;
}

.overview-section__heading {
  &--incomplete {
    color: $error-text;
  }
}

.overview-section__actions {
  margin-top:1em;
}
