<div class="mdc-layout-grid overview-container">
  <h1 class="mdc-typography--display2">Übersicht</h1>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2 class="mdc-typography--display1">Uhr</h2>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2 class="mdc-typography--display1">Account</h2>
      <table class="overview-table">
        <tbody>
          <tr>
            <td>User ID</td>
            <td>{{userId}}</td>
          </tr>
          <tr>
            <td>Accesstoken</td>
            <td class="overview-table__token-cell">
              {{accessToken || '...'}}
            </td>
            <td>
              <button *ngIf="!accessToken" class="mdc-button" (click)="showAccessToken()">
                Accesstoken zeigen
              </button>
            </td>
          </tr>
          <tr *ngIf="accessToken">
            <td>Scopes</td>
            <td>{{scopes}}</td>
          </tr>
          <tr *ngIf="accessToken">
            <td>Expiration</td>
            <td>{{expiration | date:'mediumTime'  }}</td>
          </tr>
        </tbody>
      </table>
      <button class="mdc-button mdc-button--raised" (click)="logout()">
        Logout
      </button>
      <a [routerLink]="['/device/12345/log']" class="mdc-button mdc-button--raised">
        <i class="material-icons mdc-button__icon">list</i>
        Log anzeigen
      </a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2 class="mdc-typography--display1">App</h2>
    </div>
    <div *ngIf="null != subscribedFeeds" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2 class="overview-section mdc-typography--display1"
          [ngClass]="{'overview-section--incomplete' : calendarIncomplete}">
        Kalender
        <span *ngIf="calendarIncomplete" class="mdc-typography--caption">(unvollständig)</span>
      </h2>
      Es wurden
      <span [ngPlural]="subscribedFeeds">
        <ng-template ngPluralCase="=0">keine Kalender</ng-template>
        <ng-template ngPluralCase="=1">ein Kalender</ng-template>
        <ng-template ngPluralCase="other">{{subscribedFeeds}} Kalender</ng-template>
      </span>
      konfiguriert.
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <a [routerLink]="['/calendar/configure']" class="mdc-button mdc-button--raised">
        <i class="material-icons mdc-button__icon">event</i>
        Kalender konfigurieren
      </a>
    </div>
  </div>
</div>
