<div class="overview-container">
  <h1 class="mdc-typography--headline2">Übersicht</h1>
  <div *ngIf="'running' == maintainance">
    Es wird eine automatische Wartung ausgeführt.
  </div>
  <div *ngIf="'done' == maintainance">
    Es wurde eine automatische Wartung ausgeführt.
  </div>
  <div *ngIf="'error' == maintainance">
    Beim Ausführen einer automatischen Wartung kam es zu einem Fehler.
  </div>
  <div *ngIf="'running' == userCreation">
    Account wird zum ersten Mal konfiguriert.
  </div>
  <div *ngIf="'done' == userCreation">
    Account wurde angelegt.
  </div>
  <div *ngIf="'error' == userCreation">
    Account konnte nicht konfiguriert werden.
  </div>
  <section>
    <h2 class="mdc-typography--headline3">Uhr</h2>
    <div *ngFor="let device of devices; let i = index">
      <h3 class="mdc-typography--headline4">Gerät {{i + 1}}</h3>
      <table class="overview-table" *ngIf="device.battery">
        <tbody>
          <tr>
            <td>Ladezustand</td>
            <td>{{device.battery.stateOfCharge * 100 | number:'1.0-0'}}%</td>
          </tr>
          <tr>
            <td>Spannung</td>
            <td>{{device.battery.voltage | number:'1.0-2'}}V</td>
          </tr>
          <tr>
            <td>Letzte Batteriemessung</td>
            <td>{{device.battery.lastMeasurementTime | date:'medium'}}</td>
          </tr>
          <tr>
            <td>Zeit seit dem letzten Laden</td>
            <td>{{timeSinceCharge(device.battery) ||  0 | number:'1.0-1'}} Stunden</td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
      <button class="mdc-button mdc-button--raised" (click)="measureBattery()">
        Batterie Messen
      </button>
    </div>
  </section>
  <section>
    <h2 class="mdc-typography--headline3">Account</h2>
    <table class="overview-table">
      <tbody>
        <tr>
          <td>User ID</td>
          <td>{{userId}}</td>
        </tr>
        <tr>
          <td>Accesstoken</td>
          <td class="overview-table__token-cell">
            {{accessToken}}
            <button *ngIf="!accessToken" class="mdc-button" (click)="showAccessToken()">
              Accesstoken zeigen
            </button>
          </td>
        </tr>
        <tr *ngIf="accessToken">
          <td>Scopes</td>
          <td>{{scopes}}</td>
        </tr>
        <tr *ngIf="accessToken">
          <td>Expiration</td>
          <td>{{expiration | date:'mediumTime'  }}</td>
        </tr>
      </tbody>
    </table>
    <button class="mdc-button mdc-button--raised" (click)="logout()">
      Logout
    </button>
    <a [routerLink]="['/device/12345/log']" class="mdc-button mdc-button--raised">
      <i class="material-icons mdc-button__icon">list</i>
      Log anzeigen
    </a>
  </section>
  <section>
    <h2>Benachrichtigungen</h2>
    <div class="overview-section__actions">
      <a [routerLink]="['/notifications']" class="mdc-button mdc-button--raised">
        <i class="material-icons mdc-button__icon">notifications</i>
        Benachrichtigungseinstellungen
      </a>
    </div>
  </section>
  <section>
    <h2 class="overview-section__heading mdc-typography--headline3"
        [ngClass]="{'overview-section__heading--incomplete' : appIncomplete}">
      App
      <span *ngIf="appIncomplete" class="mdc-typography--caption">(unvollständig)</span>
    </h2>
    <table class="overview-table">
      <tbody>
        <tr>
          <td>Verbindung eingerichtet</td>
          <td>
            <span *ngIf="userInfo && userInfo.pushChannelRegistered">Ja</span>
            <span *ngIf="userInfo && !userInfo.pushChannelRegistered">Nein. Melde dich in der App an um das Problem zu beheben.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h2 class="overview-section__heading mdc-typography--headline3"
        [ngClass]="{'overview-section__heading--incomplete' : calendarIncomplete}">
      Kalender
      <span *ngIf="calendarIncomplete" class="mdc-typography--caption">(unvollständig)</span>
    </h2>
    <span *ngIf="userInfo && !userInfo.calendarReminderActive">
      Es wurde ein Fehler bei der Verbindung mit dem Kalender festgestellt.
      <span *ngIf="'running' == maintainance">
        Das Problem wird durch die automatische Wartung behoben.
      </span>
    </span>
    <div *ngIf="null != subscribedFeeds">
      Es
      <span [ngPlural]="subscribedFeeds">
        <ng-template ngPluralCase="=0">wurden keine Kalender</ng-template>
        <ng-template ngPluralCase="=1">wurde ein Kalender</ng-template>
        <ng-template ngPluralCase="other">wurden {{subscribedFeeds}} Kalender</ng-template>
      </span>
      konfiguriert.
    </div>
    <div class="overview-section__actions">
      <a [routerLink]="['/calendar/configure']" class="mdc-button mdc-button--raised">
        <i class="material-icons mdc-button__icon">event</i>
        Kalender konfigurieren
      </a>
    </div>
  </section>
</div>
