<div class="overview-container">
  <section>
    <h2 class="overview-section__heading mdc-typography--headline3"
        [ngClass]="{'overview-section__heading--incomplete' : appIncomplete}">
      App
      <span *ngIf="appIncomplete" class="mdc-typography--caption">(unvollständig)</span>
    </h2>
    <table class="overview-table">
      <tbody>
        <tr>
          <td>Verbindung eingerichtet</td>
          <td>
            <!-- <span *ngIf="userInfo && userInfo.pushChannelRegistered">Ja</span>
            <span *ngIf="userInfo && !userInfo.pushChannelRegistered">Nein. Melde dich in der App an um das Problem zu beheben.</span> -->
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h2 class="overview-section__heading mdc-typography--headline3"
        [ngClass]="{'overview-section__heading--incomplete' : calendarIncomplete}">
      Kalender
      <span *ngIf="calendarIncomplete" class="mdc-typography--caption">(unvollständig)</span>
    </h2>
    <!-- <span *ngIf="userInfo && !userInfo.calendarReminderActive">
      Es wurde ein Fehler bei der Verbindung mit dem Kalender festgestellt.
      <span *ngIf="'running' == maintainance">
        Das Problem wird durch die automatische Wartung behoben.
      </span>
    </span> -->
    <div *ngIf="null != subscribedFeeds">
      Es
      <span [ngPlural]="subscribedFeeds">
        <ng-template ngPluralCase="=0">wurden keine Kalender</ng-template>
        <ng-template ngPluralCase="=1">wurde ein Kalender</ng-template>
        <ng-template ngPluralCase="other">wurden {{subscribedFeeds}} Kalender</ng-template>
      </span>
      konfiguriert.
    </div>
    <div class="overview-section__actions">
      <a [routerLink]="['/calendar/configure']" class="mdc-button mdc-button--raised">
        <i class="material-icons mdc-button__icon">event</i>
        Kalender konfigurieren
      </a>
    </div>
  </section>
</div>
