<div class="mdc-layout-grid home-container">
  <h1>
    Digit
  </h1>
  <p>
    Die <i>smarte</i> Watch, die mehr ist als ein zusätzlicher Bildschirm fürs
    Handy. Hier
    überwachst du dein Gerät,
    konfigurierst Einstellungen und verbundene Dienste oder
    richtest die Verbindung zur App ein.
  </p>
  <button *ngIf="!isLoggedIn" class="mdc-button mdc-button--raised" (click)="login()">
    Anmelden
  </button>
  <a *ngIf="isLoggedIn" [routerLink]="['/me']" class="mdc-button mdc-button--raised">Zur Übersicht</a>
</div>
